# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Environments & dependencies
venv/
.env
*.egg-info/

# Logs, dumps, data
*.log
*.db
*.sqlite3
data/
exports/
*.csv
*.xlsx
*.json

# OS junk
.DS_Store
Thumbs.db

# Editor/IDE settings
.vscode/
.idea/
